body{
    font-family: verdana, sans-serif;
	background-color: #000;
	width: 80%;
}

#chat_name{
    margin-left: 20%;
    font-size: 55px;	
    color: red;
}

#enter{
    color: gray;
}

.photo{
    border: 2px solid #393939;
}

#man_img{
    width: 150px;
	height: 150px;
	border-radius: 10px;
	margin-left: 20%;
}

#account_img{
    width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 40%;
}

.main{
	font-size: 20px;
}

.enter_in_account{
    margin-top: 30px;
	float: right;
}

.account_form{
    color: white;
    font-size: 80%;   
	font-family: verdana, sans-serif;
	border: 1px solid #393939;
	border-radius: 5px;
    background-color: #000;
}

#greeting{
    color: red;
	margin-left: 40%;
	font-size: 30px;
}

#interlocutor{
    color: red;
	margin-left: 25%;
	font-size: 20px;
}

.dialog-panel{
	margin-left: 10%;
	margin-right: 10%;
}
.area{
    font-size: 80%;   
	font-family: verdana, sans-serif;
	border: 1px solid #393939;
	border-radius: 5px;
    background-color: #000;
	width: 80%;
	margin-left: 20%;
	overflow: auto;
	overflow-x: hidden !important;
}

#message-history{
	margin-top: 40px;
    height: 250px;    
}

#message{
    color: #fff;
    margin-top: 20px;
    height: 80px;
}

#message-button{
position: absolute;
	margin-left:60%;
	width: 20px;
	height: 20px;
	background-color: #000;
	border: 1px solid green;
	border-radius: 5px;
}

#message-button2{
position: absolute;
	margin-left:62%;
	width: 20px;
	height: 20px;
	background-color: #000;
	border: 1px solid red;
	border-radius: 5px;
}

#sent-message-area{
	margin-left: 10px;
	border-radius: 5px; 
	margin-bottom:10px;
	background-color: #000000;
	color: #fff;
	word-wrap: break-word;
    max-width: 100%;
	white-space: pre;
	border: 1px solid #393939;
	border-radius: 5px;
	font-family: verdana, sans-serif;
	text-align: right;
}



.sent{
	width: 60%;
	margin-left:37%;
}

.received-message-area{
	margin-right: 10px;
	border-radius: 5px; 
	margin-bottom:10px;
	background-color: #000000;
	color: #fff;
	word-wrap: break-word;
    max-width: 100%;
	white-space: pre;
	border: 1px solid #393939;
	border-radius: 5px;
	font-family: verdana, sans-serif;
}


#line{
	width: 80%;
	margin-top: 50px;
	margin-left: 20%;
}


#exit{
    margin-left: 95%;
	color: gray;
	height: 30px;
	font-size: 20px;
	border: 1px solid #393939;
	background-color: #000;
}
